@inject Converter_Web_Application.Service.TranslationService TranslationService

@* NavMenu.razor *@
<nav class="nav flex-column">
    <a class="nav-link" href="/food/cooking">@TranslationService.Translate("Cooking")</a>
    <a class="nav-link" href="/food/macronutrient">@TranslationService.Translate("Macronutrient")</a>
    <a class="nav-link" href="/food/serving">@TranslationService.Translate("Serving")</a>
    <a class="nav-link" href="/food/ingredient_substitutions">@TranslationService.Translate("Ingredient Substitution")</a>
    <!-- Add more measurement types as needed -->
</nav>

<style>
    .nav {
        width: 200px;
        padding: 15px;
    }
</style>

@code {

    protected override void OnInitialized()
    {
        TranslationService.OnLanguageChanged += StateHasChanged;
    }

    public void Dispose()
    {
        TranslationService.OnLanguageChanged -= StateHasChanged;
    }

}
