@* NavMenu.razor *@
<nav class="nav flex-column">
    <a class="nav-link" href="/units/length">Length</a>
    <a class="nav-link" href="/units/weight">Weight</a>
    <a class="nav-link" href="/units/volume">Volume</a>
    <a class="nav-link" href="/units/area">Area</a>
    <a class="nav-link" href="/units/time">Time</a>
    <!-- Add more measurement types as needed -->
</nav>

<style>
    .nav {
        width: 200px;
        padding: 15px;
    }
</style>
