@page "/"
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager Navigation

<div class="container text-center">
    <h1>Welcome to the Converter Application</h1>
    <p class="lead">Your one-stop solution for unit conversions.</p>
    <p>Convert between various units of measurement quickly and easily.</p>

    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Popular Conversions</h2>
            <ul class="list-group">
                <li class="list-group-item" @onclick='() => NavigateToUnits("length")'>Length</li>
                <li class="list-group-item" @onclick='() => NavigateToUnits("weight")'>Weight</li>
                <li class="list-group-item" @onclick='() => NavigateToUnits("temperature")'>Temperature</li>

            </ul>
        </div>
        <div class="col-md-6">
            <h2>How to Use</h2>
            <ol class="list-unstyled">
                <li>Select the type of units you want to convert.</li>
                <li>Enter the value you want to convert.</li>
                <li>Select the units for conversion.</li>
                <li>Click the convert button to see the result.</li>
            </ol>
        </div>
    </div>

    <!-- Action button -->
    <NavLink class="btn btn-primary mt-4" href="/units">Start Converting</NavLink>
</div>

@code {
    private void NavigateToUnits(string type)
    {
        Navigation.NavigateTo($"/units/{type}");
    }
}
