@page "/business"
@using Converter_Web_Application.Service
@inject NavigationManager Navigation
@inject TranslationService TranslationService

<PageTitle>@TranslationService.Translate("Business_Tools")</PageTitle>

<div class="container">
    <h1>@TranslationService.Translate("Business_Tools")</h1>
    <div class="row">
        <div class="col-md-9">
                <CurrencyConversion />
        </div>
    </div>
</div>

@code {
    private string selectedTool = "conversion"; // Default tool to show

    private void ShowCurrencyConversion()
    {
        selectedTool = "conversion";
    }

    private void ShowCurrencyList()
    {
        selectedTool = "list";
    }

    // Fatching translation
    protected override void OnInitialized()
    {
        TranslationService.OnLanguageChanged += StateHasChanged;
    }

    public void Dispose()
    {
        TranslationService.OnLanguageChanged -= StateHasChanged;
    }
}
